ipdb
tenacity
flask_caching
pykakasi
# excel
openpyxl
# database
redis
psycopg2-binary
SQLAlchemy==1.4.*
# analytics
pandas==2.1.4
# plotly & dash
plotly
dash
dash_uploader
dash-ag-grid
dash-snapshots==2.2.8
dash-design-kit
dash-enterprise-libraries
dash_bootstrap_components
dash_mantine_components
dash_daq
--extra-index-url=https://pip.hexaly.com
hexaly
